.message {
  display: flex;
  align-items: center;
  background-color: #aed0ef;
  max-width: calc((100vw - 200px) / 2);
  width: fit-content;
  padding: 14px;
  min-width: 240px;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 9px 11px 6px -8px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 9px 11px 6px -8px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 9px 11px 6px -8px rgba(0, 0, 0, 0.1);
}

.name {
  font-size: 6px;
}

.message.self {
  align-self: flex-end;
}

.message.other {
  align-self: flex-start;
  background-color: #d0e6fa;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
  gap: 0.5rem;
}

.message .avatar {
  height: 50px;
  width: 50px;
  border-radius: 50px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.message h6 {
  font-size: 16px;
  font-weight: normal;
  margin-block: 0;
}

.message p {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  margin-block: 0;
}

.time {
  align-self: flex-end;
}

.iconsSection {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1rem;
}

.like :hover {
  cursor: pointer;
  color: #409bf1;
  transform: scale(1.5) translate(-25%, -20%);
  animation-duration: 500ms;
}

.delete :hover {
  cursor: pointer;
  color: #d50606;
}
